<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CustomerIncidents.Properties.Settings.TechSupportConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Desktop\Documents\github\repos\CustomerIncidents\CustomerIncidents\CustomerIncidents\TechSupport.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>